@font-face {
  font-family: 'SUIT';
  src: url('./font/SUIT-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT';
  src: url('./font/SUIT-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT';
  src: url('./font/SUIT-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT';
  src: url('./font/SUIT-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT';
  src: url('./font/SUIT-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
